


ul {
	list-style-type: none;
	margin: 0:
	padding: 0;
}

#navleft li {
	float: left;
}

#navright li {
	float:right;
}


#google-logo {
	margin: 0 auto;
	width: 600px;
}argin: 0 auto

.search {
	margin: 0 auto;
	width: 600px;
}
