
body {
	margin: 10px;
	padding: 5px;
}

ul {
	list-style-type: none;
	margin: 0:
	padding: 0;
}

#navleft li {
	float: left;
}

#navright li {
	float:right;
}

li a {
	padding: 3px;
	text-decoration: none;
}

.main {
	padding-top: 300px;
}

.logo {
	margin: 0 auto;
	width: 280px;
}

.search {
	margin: 0 auto;
	width: 600px;
}

.search input {
	min-height: 43px;
	min-width: 550px;
}

.buttons {
	margin: 0 auto;
	width: 280px;
}
