
body {
	margin: 10px;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style-type: none;
	margin: 0:
	padding: 0;
}

#navleft {
	padding-left: 0;
}

#navleft li {
	float: left;
}

#navright li {
	float:right;
}

li a {
	padding-left: 15px;
	text-decoration: none;
	color: #000;
	opacity: 0.75;
}

li a:hover {
	text-decoration: underline;
}

.main {
	padding-top: 150px;
}

.logo {
	margin: 0 auto;
	width: 280px;
}

.search {
	margin: 0 auto;
	width: 600px;
}

.search input {
	min-height: 43px;
	min-width: 580px;
	margin: 10px;
}

.buttons {
	margin: 0 auto;
	width: 280px;
	padding: 5px;
}
